
@{
    ViewBag.Title = "Players";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>Name</th>
                    <th>Highest Score</th>
                    <th>Recent Play</th>
                    <th>Date Joined</th>
                </tr>
                <tr>
                    <td><strong>Siong Esteban</strong></td>
                    <td>53</td>
                    <td>07/08/17</td>
                    <td>06/28/17</td>
                </tr>
            </table>
        </div>
    </div>
</div>
