@font-face {
	font-family: 'Exo-ExtraLight';
	src: url('../fonts/klik-Exo-ExtraLight.ttf') format('truetype');
}
@font-face {
	font-family: 'Exo-Black';
	src: url('../fonts/klik-Exo-Black.ttf') format('truetype');
}