@import "_custom-variables.scss";

body {
    background: $alive-a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, $alive-a, $alive-b); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, $alive-a, $alive-b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0;
}

.row {
    margin: 0;
}

.navbar-default {
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/*navbar*/
.navbar {
    text-align: center;
}
.navbar-nav {
    display: inline-block;
    float: none;
    margin-bottom: -5px;
    font-family: 'Exo-Black';
    text-transform: uppercase;
    letter-spacing: 4px;
}

/*title*/
.title {
    display: block;
    color: #fff;
    text-align: center;
    font-family: $logo-font;
    font-size: 100px;
}
.title:hover {
    text-decoration: none;
    color: #fff;
}

/*game section*/
#game-section {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);

    -webkit-box-shadow: inset 0px 0px 11px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 11px -1px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 11px -1px rgba(0,0,0,0.75);
}